<div class="product-list" *ngIf="(cuentasCompradas | async); else noAccounts" infiniteScroll
    (scrolled)="onScroll()" (scrolledUp)="onScrollUp()">
    <h1 class="align-center">Cuentas compradas</h1>
    <div class="product-container">
        <div class="card" *ngFor="let compra of cuentasCompradas | async">
            <a class="title">{{compra.accountDetails[0].Titulo}}</a>
            <div class="image">
                <img src="http://localhost:3000/Cuenta/Imagen/{{compra.accountDetails[0].Imagen}}" alt="" />
            </div>
            <div class="status mt-3">
                <button (click)="clickSeeBuy(compra._id)" class="view-button">Ver</button>
                <p class="p-alignment py-3">{{compra.Estado}}</p>
                <button class="view-button big">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<ng-template #noAccounts>
    <div class="container-fluid">
        <div class="row justify-content-center py-5">
            <div class="col-lg-8 mx-auto align-middle">
                <p class="display-1 align-center">Parece que aún no has realizado alguna compra</p>
                <p class="h2 align-center">Pulsa <button class="btn btn-primary" (click)="clickBtn()">aquí</button> para ir a las cuentas en venta</p>
            </div>
        </div>
    </div>
</ng-template>