<div class="product-list">
    <h1 class="align-center">Cuentas compradas</h1>
    <div class="product-container">
        <div class="card">
            <div class="title">Product 1</div>
            <div class="image">
                <img src="../../../assets/images/cuenta1.PNG" alt="" />
            </div>
            <div class="text">
                <p>Product description</p>
            </div>
            <div class="status">
                <button class="view-button">Ver</button>
                <p>Estado</p>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <p>Product 2 description</p>
            </div>
            <div class="image">
                <img src="../../../assets/images/instagram1.jpg" alt="">
            </div>
            <div class="text">Product 2 description</div>
            <div class="check-status">
                <div class="status">
                    <button class="view-button">Ver</button>
                    <p>Estado</p>
                </div>
            </div>
        </div>
    </div>
</div>