.fas {
    margin: 15px;
}

.fa-edit {
    color: rgb(67, 67, 211);
}

.fa-trash-alt {
    color: rgb(211, 76, 76);
}

.fa-edit:hover {
    cursor: pointer;
}

.fa-trash-alt:hover {
    cursor: pointer;
}

img {
    object-fit: cover;
    object-position: center;
    height: 170px;
    width: 140px;
}
input[type=radio]{
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
label{
    border-radius: 5px;
    margin-right: 1em;
}
input[type=radio]:checked+label{
    background-color: rgb(13, 110, 253);
}
input[type=radio]:hover + label{
    background-color: rgb(13, 110, 253);
}

.align-center{
    text-align: center;
}

h5{
    transition: linear 0.3s;
    border-radius: 10px;
}
h5:hover{
    color: #000;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(13, 110, 253);
}

button{
    border-radius: 0px 5px 5px 0px;
}
.btn:active{
    background-color: rgb(13, 110, 253);
}
.btn-primary:active{
    background-color: rgb(13, 110, 253);
}
.btn:after{
    background-color: rgb(13, 110, 253);
}
.btn-primary:after{
    background-color: rgb(13, 110, 253);
}
.btn:active:after{
    background-color: rgb(13, 110, 253);
}
.btn-primary:active:after{
    background-color: rgb(13, 110, 253);
}