<div class="container">
    <div class="card my-5" *ngIf="(account | async) as cuenta">
        <div class="card-body">
            <h3 class="card-title">{{cuenta.Titulo}}</h3>
            <h6 class="card-subtitle">{{cuenta.Plataforma}}</h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img [src]="cuenta.Imagen" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Descripción</h4>
                    <p>{{cuenta.Descripcion}}</p>
                    <h2 class="mt-5">
                        {{cuenta.Precio | currency:'MXN':'symbol':'1.2-2'}}
                    </h2>
                    <button (click)="buyAccount(cuenta._id)" class="btn btn-primary btn-rounded" *ngIf="cuenta.Estado == 'Disponible'">Comprar</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">Información general
                    </h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="390">Categoría</td>
                                    <td>{{cuenta.Tipo}}</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>{{cuenta.Plataforma}}</td>
                                </tr>
                                <tr>
                                    <td>Estado</td>
                                    <td>{{cuenta.Estado}}</td>
                                </tr>
                                <tr>
                                    <td>Vendedor</td>
                                    <td>{{cuenta.vendedor[0].Usuario}} ({{cuenta.vendedor[0].Email}})</td>
                                </tr>
                                <tr>
                                    <td>Precio</td>
                                    <td>{{cuenta.Precio | currency:'MXN':'symbol':'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>